
body {
  background-image: url("/img/home screen.png");
  background-size:cover;
}

main{
  text-align:center;
  font-family: 'Supermercado One', cursive;
  color:white;

}

header{
  
  font-size:40px;
  text-align:center;
}

.bear_doctor{
  size:400px;

}
.flex-container{
  display:flex;
  justify-content:center;
  flex-flow:column wrap;
/*justify-content:center;*/
 

}

#begin:link{
color:white;
}

#begin:visited{
  color:white;
}
 
#begin:hover{
  font-weight: 200px;
  color:grey;
}

#begin:active{
  color:white;
}

div{
  background-image: url("/img/how are you.png");
  background-size:cover
}
